/*----------------------------------------------------------------------------------------------------------
 -----------------------------------------------------------------------------------------------------------
---------------------------------------------- General Styles ----------------------------------------------
------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------*/

@font-face {
    font-family: 'Source Code';
    src: url('fonts/SourceCodePro-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Code Bold';
    src: url('fonts/SourceCodePro-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}



html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

body {
    background-color: #000000;
}

.header-logo {
    color: #ffffff;
    z-index: 1;
    font-family:'Source Code Bold';
    font-size: 45px;
}

a, li {
    text-decoration: none;
}

li {

    font-family:'Source Code', sans-serif;
}

h2 {
    font-size: 30px;
}

.content-welcome {
    width: 100vw;      
    height: 100vh; 
  }

  .content {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.747); 
    width: 35%;                  
    height: auto;                 
    padding: 50px;                
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 10%;            
    border-radius: 30px;         
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    color: #7c7c7c;
  }
  
  .content:hover {
    transform: scale(1.1); 
      box-shadow: 0 8px 20px rgb(255, 255, 255); 
      background-color: rgba(255, 255, 255, 0.814);
      color: #000000;
  }

/*----------------------------------------------------------------------------------------------------------
 -----------------------------------------------------------------------------------------------------------
---------------------------------------------- Hamburger-Menu ----------------------------------------------
------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------*/

.hamburger-menu {
    position: fixed;
    top: 16px;
    right: 50px;
    z-index: 1000;
}

.hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40px;
    height: 30px;
}

.hamburger span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    transition: all 0.3s ease;
    transform-origin: center;
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 150%;
    right: 0;
    bottom: 0;
    background-color: #000000c3;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9;
    transition: left 0.5s ease-in-out; /* Añade una transición suave */
}


.menu-overlay.show {
    left: 0; /* Mueve el menú completamente a la vista */
  }

.menu-overlay ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.menu-overlay li {
    margin: 20px 0;
}

.menu-overlay a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 40px;
    font-weight: 800;
    transition: font-size 0.3s, color 0.3s, box-shadow 0.3s; 
    box-shadow: none;
}

.menu-overlay a:hover {
    color: #ffffff;
    font-size: 45px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(242, 242, 242, 0.5);
    padding: 10px;
    border-radius: 10px;
}

.hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(9px, 9px);
    background-color: white;
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    background-color: white;
}

.menu-overlay.show {
    display: flex;
}

/*----------------------------------------------------------------------------------------------------------
 -----------------------------------------------------------------------------------------------------------
--------------------------------------------------- Header -------------------------------------------------
------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------*/
 
.header {
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    display: flex; 
    justify-content: left;
    align-items: center;
    height: 66px;
    z-index: 20; 
    left: 0; 
    position: fixed;
    top: 0;
    padding-left: 5%;
}

@media (min-width: 750px) and (max-width: 1000px) {}
@media (max-width: 750px) {

    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 20px;
    }

    .hamburger-menu {
        right: 20px;
    }
    
    .hamburger {
        width: 30px;
    }



    .content {
        background-color: rgba(255, 255, 255, 0.747); 
        width: 50%;                  
        padding: 30px;                
        margin-left: 7%;            
        border-radius: 30px;    
        margin-top: 200px;     
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
        box-shadow: 0 8px 20px rgb(255, 255, 255); 
        background-color: rgba(255, 255, 255, 0.814);
        color: #000000;
        transition: none;
      }

      .content:hover {
        transform: none 
      }

}