/*----------------------------------------------------------------------------------------------------------
 -----------------------------------------------------------------------------------------------------------
--------------------------------------------------- Fonts --------------------------------------------------
------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------*/

@font-face {
  font-family: 'Roboto';
  src: url('fonts/RobotoCondensed-Light.ttf') format('truetype');
  font-weight: light;
  font-style: normal;
}



h2, h3, li, p {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 25px;
}

a, li {
  text-decoration: none;
}

p {
  font-size: 22px;
}

/*----------------------------------------------------------------------------------------------------------
 -----------------------------------------------------------------------------------------------------------
---------------------------------------------- General Styles ----------------------------------------------
------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------*/

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; 

}

body.no-scroll {
  overflow: hidden;
}

body {
  background-color: rgb(0, 0, 0);
  /*transition: background-color 0.5s ease;*/
}
/*
.trigger-point {
  margin-top: 2000px; 
  height: 100px;
  background-color: red;
}*/

#loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it's on top of everything */
}

#loader img {
  width: 100px;
  height: 100px;
}



/*----------------------------------------------------------------------------------------------------------
 -----------------------------------------------------------------------------------------------------------
--------------------------------------------------- Header -------------------------------------------------
------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------*/
 
.header {
  background-color: rgb(0, 0, 0);
  width: 100%;
  display: flex; 
  justify-content: left;
  align-items: center;
  height: 66px;
  z-index: 20; 
  left: 0; 
  position: fixed;
  top: 0;
  padding-left: 5%;
}

.header-logo {
    z-index: 1;
    margin-top: 12px;
    width: 350px;
}

/*----------------------------------------------------------------------------------------------------------
 -----------------------------------------------------------------------------------------------------------
---------------------------------------------- Hamburger-Menu ----------------------------------------------
------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------*/

.hamburger-menu {
  position: fixed;
  top: 12px;
  right: 50px;
  z-index: 1000;
  background-color: #0000006e;
  padding: 10px;
  border-radius: 5px;
}

.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40px;
  height: 30px;
}

.hamburger span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #ffffff;
  transition: all 0.3s ease;
  transform-origin: center;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 150%;
  right: 0;
  bottom: 0;
  background-color: #000000d0;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: left 0.5s ease-in-out; /* Añade una transición suave */
}

.menu-overlay.show {
  left: 0; /* Mueve el menú completamente a la vista */
}

.menu-overlay ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.menu-overlay li {
  margin: 50px 0;
}

.menu-overlay a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 35px;
  font-weight: 800;
  transition: font-size 0.3s, color 0.3s, box-shadow 0.3s; 
  box-shadow: none;
}

.menu-overlay a:hover {
  color: #ffffff;
  font-size: 37px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(242, 242, 242, 0.5);
  padding: 10px;
  border-radius: 10px;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(9px, 9px);
  background-color: white;
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
  background-color: white;
}

.menu-overlay.show {
  display: flex;
}

.title-video-mobile {
  display: none;
}

/*----------------------------------------------------------------------------------------------------------
 -----------------------------------------------------------------------------------------------------------
-------------------------------------------------- Content -------------------------------------------------
------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------*/

.services-screen-display {
  color:rgb(255, 255, 255);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-weight: 100;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

.services-mobile-display{
  display: none;
}

.flex-container {
  display: flex;          
  align-items: center;    
  gap: 50px;        
  margin-bottom: 30px;   
  margin-top: 30px;   
}

.flex-container p {
  flex: 1;    
  text-align: justify;
  line-height: 2;
}

.sketch-container {
  width: 400px;
  height: 400px;
  margin: 10px;
}

.image-container {
  position: relative;
  width: 500px;
}

.cases-bild {
  width: 100%;
  border-radius: 20px;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

.hover-img {
  opacity: 0;
  z-index: 1;
}

.image-container:hover .hover-img {
  opacity: 1;
}

.image-container:hover img:not(.hover-img) {
  opacity: 0;
}

#services-images {
  width: 400px;
}

.cases-mobile-display {
display: none;
}

.title-video {
  margin-top: 200px;
}

.video-size {
  width: 40%;
}

.video-size-cube {
  width: 40%;
}

.title-video-2 {
  display: none;
}






/*----------------------------------------------------------------------------------------------------------
 -----------------------------------------------------------------------------------------------------------
-------------------------------------------------- Tablets -------------------------------------------------
------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------*/
@media (max-width: 1025px) {

  html, body {
    overflow-x: hidden; /* Elimina la barra de desplazamiento horizontal */
    width: 100%; /* Asegura que el contenido no se extienda más allá de los bordes */
}

  h2 {
    font-size: 35px;
    text-align: center;
  }
  
  p {
    font-size: 18px;
    line-height: 2;
  }

   .services-screen-display {
  width: 80%;
  }

  .cases-mobile-display img {
    width: 100%;
    margin-bottom: 200px;
    border-radius: 20px;
  }

  .flex-container-mobile {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
  }

  .cases-mobile-display video {
    margin-top: 30px;
  }


  
  .sketch-container-2 {
    width: 200px;
    height: 200px;
    margin-top: 30px;
  }

  #title-mobile {         
    margin-top: 100px;   
  }

  #services-images {
    width: 200px;
    border-radius: 0;
  }

  .title-video {
    display: none;
  }

  .title-video-2 {
    display: flex;
    margin-top: 150px;
    margin-bottom: 50px;
  }

}


/*----------------------------------------------------------------------------------------------------------
 -----------------------------------------------------------------------------------------------------------
-------------------------------------------------- Handys -------------------------------------------------
------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------*/
@media (max-width: 750px) {

  h2 {
    font-size: 26px;}

  .cases-mobile-display  {
    margin-top: 30px;
    color: #ffffff;
    z-index: 9; /* Asegura que el elemento esté al frente */
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
  }

  #sketch2b {
    width: 200px; /* Ensure the div takes full width */
    margin: 100px auto; /* Center the div horizontally */
    display: flex;
    justify-content: center; /* Center content inside the div */
    align-items: center;
    
}

  .services-screen-display {
    display: none;
  }

  h3 {
    font-size: 22px;
  }

  p {
    font-size: 18px;
  }

  .hamburger {
    width: 30px;
  }

  .hamburger-menu {
    right: 20px;
  }

  .menu-overlay a {
    font-size: 20px;
  }

  .menu-overlay a:hover {
    font-size: 27px;
  }

  .cases-mobile-display img {
    margin-bottom: 100px;
  }

  .header-logo {
    width: 250px;
  }


}