html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    max-width: 100%;
}


body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.video_container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100vw;
    height: 100vh;
    overflow: hidden; 
    position: relative;
}

#background-video {
    width: 80%; 
    max-height: 100%; 
    z-index: 0;
}

#fallback-gif {
    display: none; /* Hide the GIF by default */
    width: 80%;
    height: auto;
}

.overlay-image {
    position: absolute;
    bottom: 0; /* Aligns the image to the bottom of the video_container */
    right: 25%; /* Adjusts to place the image correctly horizontally */
    width: auto; /* Keeps the original width of the image */
    height: 70px; /* Sets a fixed height */
    transform: translateY(50%); /* Moves the image partially below the container */
}
 
.header {
    background-color: #ffffff00;
    color: #000000;
    width: 100%;
    display: flex; 
    justify-content: left;
    align-items: center;
    height: 100px;
    position: fixed;
    z-index: 10;
    font-size: 20px;
    left: 0; 
}

.logo {
    margin-left: 5%;
}

.call-to-action {
    position: relative;
    top: 10px;
    bottom: 20px; 
    width: 100%;
    height: 50px;
    text-align: center; 

    color: rgb(255, 255, 255); 
    background-image: linear-gradient(to right, rgb(255, 0, 140), rgb(255, 238, 3));
    padding: 20px; 
    font-weight: 600;
}

@media (max-width: 700px) {
    #background-video {
        display: none;  /* Hide the video */
    }

    #fallback-gif {
        display: block; /* Show the GIF */
    }
}





  