html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    max-width: 100%;
}


body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.video_container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: calc(100vh - 100px); 
    position: relative;
    padding-top: 50px; 
}

#background-video {
    width: 80%; 
    max-height: 100%; 
    z-index: 0;
}
 
.header {
    background-color: #ffffff00;
    color: #000000;
    width: 100%;
    display: flex; 
    justify-content: left;
    align-items: center;
    height: 100px;
    position: fixed;
    z-index: 10;
    font-size: 20px;
    left: 0; 
}

.logo {
    margin-left: 5%;
}

.call-to-action {
    position: relative;
    bottom: 10px; 
    width: 100%;
    text-align: center; 
    z-index: 10; 
    color: rgb(0, 0, 0); 
    background-color: rgba(255, 255, 255, 0.5); 
    padding: 20px; 
    font-weight: 600;
}





  