/* Ensure the body does not have an overflow */
html, body {
    width: 100%;
    height: 100%; /* Change to min-height to allow for scrolling */
    overflow-x: hidden; /* Hide horizontal scroll */
    max-width: 100%;  /* Prevent horizontal overflow */
}

/* Reset some default browser styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.video_container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: calc(100vh - 100px); /* Full height minus header, adjust if header height changes */
    position: relative;
    padding-top: 50px; 
}

#background-video {
    width: 80%; /* Maintain aspect ratio */
    max-height: 100%; /* Limit height to container */
    z-index: 0;
}
 
.header {
    background-color: #ffffff00;
    color: #000000;
    width: 100%;
    display: flex; 
    justify-content: left; /* Align items to center if needed */
    align-items: center;
    height: 100px;
    position: fixed;
    z-index: 10;
    font-size: 20px;
    left: 0; /* Ensure header starts from the very left */
}

.logo {
    margin-left: 5%;
}

.call-to-action {
    position: relative;
    bottom: 10px; /* Spacing from the bottom */
    width: 100%;
    text-align: center; /* Center the text horizontally */
    z-index: 10; /* Ensure it's above the video */
    color: rgb(0, 0, 0); /* Change text color if needed */
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background for readability */
    padding: 20px; /* Padding for aesthetics */
    font-weight: 600;
}





  