html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    max-width: 100%;
}


body, h1, h2, h3, p {
    margin: 0;
    padding-top:0px;

}

.header {
    background-color: #ffffff00;
    color: #000000;
    width: 100%;
    display: flex; 
    justify-content: left;
    align-items: center;
    height: 100px;
    z-index: 10;
    left: 0; 
    position:static;
    top: 0;

}

h1 {
    font-size: 35px;
    font-weight: 400;
    font-family: Jersey20, Arial;
}

h3 {
    font-size: 47px;
    font-weight: 500;
    font-family:  Anton, Tahoma, sans-serif;
    color: #787878;
}

p {
    font-size: 17px;
    font-family: Tahoma, sans-serif;
    font-weight: 300;
}

.logo {
    margin-left: 5%;
}

#logo-bild {
    width: 300px;
}

@font-face {
    font-family: 'Jersey20'; 
    src: url('fonts/Jersey_20/Jersey20-Regular.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal; 
}

@font-face {
    font-family: 'Anton'; 
    src: url('fonts/Anton/Anton-Regular.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal; 
}

.video_container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100vw;
    height: 85vh;
    overflow: hidden; 
    position: relative;
    

}

#background-video {
    width: 80%; 
    z-index: 0;
}

#fallback-gif {
    display: none;
    width: 93%;
    height: 85vh;
    height: auto;
}

.overlay-image {
    position: absolute;
    bottom: 0; 
    right: 25%; 
    width: auto; 
    height: 70px; 
    transform: translateY(50%); 
}
 

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#manifiesto {
    height: 130px;
    width: 90%;
    border-radius: 15px; 
    text-align: center; 
    z-index: 10; 
    color: rgb(0, 0, 0); 
    background-image: url(imagenes/FONDO.png);
    padding: 20px; 
    font-weight: 500;
    display: flex;             
    align-items: center;       
    justify-content: center;   
    background-color:#000000;
}

#manifiesto-bild {
    height: 100px;             
    width: auto;              
}



#statement-content {
    height: 500px;
    width: 70%;
    text-align: center; 
    z-index: 10; 
    background-color:rgb(255, 255, 255);
    padding: 20px; 
    z-index: 10; 
    margin-top: 10px;
    margin-bottom: 50px;
    display: flex;          
    align-items: center;      
    justify-content: center; 
}
 



/* -------------------------------------------------------------------------------- */
#projects {

    height: 100px;
    text-align: center; 
    z-index: 10; 
    color: rgb(255, 255, 255); 
    background-color:rgb(0, 0, 0);
    padding: 20px; 
    font-weight: 600;
}



#call-to-action {
    top: 10px;
    bottom: 20px; 
    width: 400px;
    text-align: center; 
    z-index: 10; 
    background-color: rgb(31, 0, 155);
    padding: 20px; 
    font-weight: 600;
    border-radius: 15px;
    color: rgb(199, 199, 199);
}

a {
    color: white;
}

/*--------------------------------------------------------------------------------------------
 ----------------------------------------------------------------------------------------------
 -------------------------------------- Form --------------------------------------------------
 ----------------------------------------------------------------------------------------------
 ----------------------------------------------------------------------------------------------*/


 form {
    background-color: #aec4cf;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    font-family: 'Arial', sans-serif;
    color: #333;
}


input {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

textarea {
    width: 100%;     
    height: 200px;  
    margin-top: 8px; 
    padding: 10px;   
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
}

label {
    
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

@media (max-width: 750px) {
    #background-video {
        display: none;  /* Hide the video */
    }

    #fallback-gif {
        display: block;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;

    }

    #logo-bild {
        width: 250px;
    }

    h3 {
        font-size: 28px;
    }

    .overlay-image {
        bottom: 100px; 
    }

    #manifiesto-bild {
        height: 80px; 
    } 

    #manifiesto {
        width: 80%
    }

    p {
        font-size: 13px;;
    }
}

@media (min-width: 750px) and (max-width: 1000px) {
    h3 {
        font-size: 35px;
    }

    p {
        font-size: 15px;;
    }

    .overlay-image {
        bottom: 50px; 
    }

    #manifiesto-bild {
        height: 90px; 
    }

    #manifiesto {
        width: 85%
    }
}