/* Reset some default browser styles */
body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

#background-video {
    position: absolute;
    top: 50px; /* Start the video 100px from the top */
    left: 0;
    width: 100%;
    height: calc(100% - 100px); /* Reduce the height by 100px to fit below the header */
    display: inline-block;
    vertical-align: baseline;
    z-index: 0; /* Keep the video in the background */
}
 
.header {
    background-color: #ffffff;
    color: #000000;
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100px;
    position: fixed;
    z-index: 10;
    font-size: 20px;
}

.call-to-action {
    position: absolute;
    bottom: 10px; /* Spacing from the bottom */
    width: 100%;
    text-align: center; /* Center the text horizontally */
    z-index: 10; /* Ensure it's above the video */
    color: rgb(0, 0, 0); /* Change text color if needed */
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background for readability */
    padding: 20px; /* Padding for aesthetics */
    font-weight: 600;
}





  