/* contact-form.css */
 
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    margin-bottom: 8px;
    color: #ffffff;
  }
  
  .form-group input,
  .form-group textarea {
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #444;
    color: #ffffff;
  }
  
  .form-group input:focus,
  .form-group textarea:focus {
    outline: none;
    border-color: #777;
  }
  
  textarea {
    resize: vertical;
    min-height: 50px;
  }
  
  .send-button {
    width: 200px; 
    padding: 15px;
    background-color: #ffcc00;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .send-button:hover {
    background-color: #ff7300;
  }

  @media (max-width: 768px) {
    .send-button{
      width: 150px;
    }

    .contact-form {
      gap: 30px;
    }
  }