/* loader.css */
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black; /* Fondo negro */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Asegúrate de que esté sobre todos los demás elementos */
  }
  
  .loader-gif {
    width: 100px; /* Ajusta el tamaño según tu GIF */
    height: 100px;
    object-fit: contain;
  }