:root {
  --cards: 13; 
  --cardHeight: calc(100vh - 66px); 
  --cardTopPadding: 0px; 
  --cardMargin: 4vw; 
  }

#joblab-cards-container {
  --cards: 8;
}

.container {
  width: 100%;
  margin: 0;
  padding: 0;
  }
  
#cards {
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: repeat(var(--cards), var(--cardHeight)); 
  gap: var(--cardMargin); 
  padding-bottom: calc(var(--cards) * var(--cardTopPadding));
  margin-bottom: var(--cardMargin);
  }
  
.card {
  position: sticky; 
  top: 66px; 
  padding-top: calc(var(--index) * var(--cardTopPadding)); 
  scroll-margin-top: 66px; 
  }
  
#card1 {
  --index: 1;
  margin-top: 110vh; 
  }



#card1 .intro-body {
  background-color: #000000; 
  text-align: left; 
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  min-height: 66px;
  color: white;
  padding-left: 5%;
  }


  
#line1 {
  font-size: 4rem; 
  font-weight: bold;
  margin-bottom: 5px; 
  line-height: 1; 

}
  
#line2 {
  font-size: 3rem; 
  margin-bottom: 5px; 
  line-height: 0.5; 
}
  
#line3 {
  font-size: 3rem; 
  line-height: 0; 
  margin-bottom: 0; 
}

#card2 {
  --index: 2;
  margin-top: 110vh;
}
  
#card3 {
  --index: 3;
  margin-top: 110vh;
}

#card4 {
  --index: 4;
  margin-top: 110vh;
  }

#card5 {
  --index: 5;
  margin-top: 110vh;
  }

#card6 {
  --index: 6;
  margin-top: 110vh;
  }

#card7 {
  --index: 7;
  margin-top: 110vh;
  }

#card8 {
  --index: 8;
  margin-top: 110vh;
  }

#card9 {
  --index: 9;
  margin-top: 110vh;
  }

#card10 {
  --index: 10;
  margin-top: 110vh;
  }

#card11 {
  --index: 11;
  margin-top: 110vh;
  }

#card12 {
  --index: 12;
  margin-top: 110vh;
  }

#card13 {
  --index: 13;
  margin-top: 110vh;
  }

#joblab-card1 {
  --index: 1;
  margin-top: 66px;
  }
  
#joblab-card2 {
  --index: 2;
  margin-top: 10vh;
  }
  
#joblab-card3 {
  --index: 3;
  margin-top: 10vh;
  }
  
#joblab-card4 {
  --index: 4;
  margin-top: 10vh;
  }
  
#joblab-card5 {
  --index: 5;
  margin-top: 10vh;
  }
  
#joblab-card6 {
  --index: 6;
  margin-top: 10vh;
  }

#joblab-card7 {
  --index: 7;
  margin-top: 10vh;
  }

#joblab-card8 {
  --index: 8;
  margin-top: 10vh;
  }


  .card1-image img {
    display: block; /* Ensure the image is displayed */
    max-width: 100%; /* Make it responsive */
    height: auto; /* Maintain aspect ratio */
}

  .card-body {
    display: grid; /* Use CSS Grid for layout */
    grid-template-areas: 
      "left right"; /* Default layout for horizontal screens */
    grid-template-columns: 50% 50%; /* Left column 40%, right column 60% */
    height: var(--cardHeight); /* Full viewport height */
    color: #ffffff; /* Text color */
    border-top: 1px solid white; /* Top border for visual separation */
    box-sizing: border-box;
  }

.video-body {
  height: var(--cardHeight); /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Ensure child transform adjustments work within this context */
  border-top: 1px solid white;
  background-color: black;
  flex-direction: column;
}
  
.video-body video {
  width: 100%; /* Make the video take the full width of the container */
  height: auto; /* Maintain the aspect ratio of the video */
  object-fit: cover; /* Ensures the video fills the container while preserving its aspect ratio */
}

#cube{
 display: none;
 width: 80%;
 margin-top: 30px;
}

#services-animation{
  display: block;
  width: 70%;
}
 
@media (max-width: 1024px) {
  #cube{
    display: block;
   }

   #services-animation {
    display: block;
   }
  }
  

  @media (min-width: 1024px) and (min-height: 1366px) and (orientation: portrait) {
    .card-body {
      grid-template-areas: 
        "left"
        "right"; /* Stack sections vertically */
      grid-template-columns: 1fr; /* Single column layout */
      grid-template-rows: 50% 50%; /* Equal height for both rows */
    }
  }  
 
@media (max-width: 821px) {

  :root {
    --cardHeight: calc(100vh - 50px);
  }

  .card {
    top: 50px;
  }

  .card-body {
    grid-template-areas: 
      "left"
      "right"; /* Stack sections vertically */
    grid-template-columns: 1fr; /* Single column layout */
    grid-template-rows: 50% 50%; /* Equal height for both rows */
  }

  #joblab-card1 {
    margin-top: 50px;
  }



  #line1 {
    font-size: 2.5rem; 
    margin-left: 12px;
    margin-right: 5px;
  }
      
  #line2 {
    font-size: 1.5rem; 
    margin-left: 12px;
    margin-bottom: 5px; 
    line-height: 1; 
  }
      
  #line3 {
    font-size: 1.5rem; 
    margin-left: 12px;
    line-height: 1; 
  }

#contact-proportion{
  grid-template-rows: 100% 0%;
}

#gif-services {
  grid-template-rows: 20% 80%;
}
    
}

@media (max-width: 380px) and (max-height: 670px) {
  .card-body{
    grid-template-rows: 65% 35%;
  }

  #services {
    grid-template-rows: 40% 60%;
  }

  #joblab-services {
    grid-template-rows: 50% 50%;
  }

  #gif-services {
    grid-template-rows: 25% 70%;
  }

}
  
  
  