/* globals.css */

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/RobotoCondensed-Light.ttf') format('truetype');
  font-weight: 300; /* Use numeric weight values for consistency */
  font-style: normal;
}

/* Apply the font globally */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #000;
}

html,
body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  height: 100%; /* Ensure full height for the viewport */
}


.cases-title{
  font-size: 2.5rem;
  margin-top: 30px;
    margin-bottom: 30px;
    color: #ffffff;
}

.services-title{
  font-size: 2.5rem;
}

.services-text {
  font-size: 1.2rem;
  line-height: 1.5;
}

h3 {
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cases-text{
  font-size: 1.2rem;
  line-height: 1.5;
}

@media (min-width: 1024px) and (min-height: 1366px) and (orientation: portrait) {
  .cases-title{
    font-size: 2.7rem;
    margin-left: 70px;
    margin-right: 70px;
  }

  .joblab-text{
    font-size: 1.9rem;
    line-height: 1.5;
    margin-left: 70px;
    margin-right: 70px;
  }
}

@media (max-width: 821px) {
  .cases-title{
    font-size: 2.5rem;
    margin-left: 70px;
    margin-right: 70px;
  }
  
  .joblab-text{
    font-size: 1.7rem;
    line-height: 1.5;
    margin-left: 70px;
    margin-right: 70px;
  }
}

@media (max-width: 770px) and (max-height: 1030px) {
  .cases-title{
    margin-left: 70px;
    margin-right: 70px;
  }
  
  .joblab-text{
    font-size: 1.5rem;
    line-height: 1.3;
    margin-left: 70px;
    margin-right: 70px;
  }
}

@media (max-width: 760px) {
  .cases-title{
    font-size: 1.6rem;
    margin-top: 8px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
  }
  
  .cases-text{
    font-size: 0.9rem;
    line-height: 1.5;
  }

  .joblab-text{
    font-size: 1.2rem;
    line-height: 1.3;
    margin-left: 0;
    margin-right: 0;
  }
}


@media (max-width: 380px) and (max-height: 750px){
  .joblab-text{
    font-size: 1.1rem;
    line-height: 1.2;
  }
}

@media (max-width: 380px) and (max-height: 670px) {
  .cases-title{
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .services-title{
    margin-top: 30px;
    font-size: 1.5rem;
  }

  .cases-text{
    font-size: 0.9rem;
    line-height: 1.1;
  }

  .services-text {
    font-size: 1.1rem;
    line-height: 1.5;
  }

  .joblab-text{
    font-size: 1rem;
    line-height: 1.3;
  }

}

