#intro-cards-container {
  --cards: 5;
}

#card1 {
  --index: 1;
}

#card2 {
  --index: 2;
  margin-top: 66px;
}

#card3 {
  --index: 3;
  margin-top: 66px;
}

#card4 {
  --index: 4;
  margin-top: 66px;
}

#card5 {
  --index: 3;
  margin-top: 56px;
  top: -50px !important;  /* Cambia este valor a lo que quieras */
  scroll-margin-top: -50px !important;
}

#card5 .card-body {
  height: calc(100vh + 50px) !important;  /* Usa el mismo valor que top */
}



#card5 {
  --index: 5;
  margin-top: 66px;
}

.left-card2 {
  background-image: url("../imagenes/background.png");
}

.text-shadow {
  font-size: 120px;
  font-family: 'Handjet';
}

.with-arrow .arrow {
  position: absolute;
  bottom: 0;
  right: 20px;
  margin: 0;
  animation: bounce 1.5s ease-in-out infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

.intro-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cases-intro-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  grid-column: 1 / -1;
  background-image: url('../imagenes/01.png');
  padding-top: 50px;
}

.cases-intro-card .title {
  margin-bottom: 0;
}

@media (max-width: 750px) {
  #intro-mobile {
    grid-template-rows: 50% 50%;
  }
}