#services-cards-container {
  --cards: 6;
}
  #card1-services {
    --index: 1;
    margin-top: 66px;
  }
  #card2-services {
    --index: 2;
    margin-top: 66px;
  }
  #card3-services {
    --index: 3;
    margin-top: 66px;
  }
  #card4-services {
    --index: 4;
    margin-top: 66px;
  }
  #card5-services {
    --index: 5;
    margin-top: 66px;
  }
  #card6-services {
    --index: 6;
    margin-top: 66px;
  }
#services-cards-container-mobile {
    --cards: 7;
  }
  #card1-services-mobile {
    --index: 1;
    margin-top: 66px;
  }
  #card2-services-mobile {
    --index: 2;
    margin-top: 66px;
  }
  #card3-services-mobile {
    --index: 3;
    margin-top: 66px;
  }
  #card4-services-mobile {
    --index: 4;
    margin-top: 66px;
  }
  #card5-services-mobile {
    --index: 5;
    margin-top: 66px;
  }
  #card6-services-mobile {
    --index: 6;
    margin-top: 66px;
  }
  #card7-services-mobile {
    --index: 7;
    margin-top: 66px;
  }