#cases-cards-container {
    --cards: 3;
  }
#cases-cards-container-mobile {
    --cards: 4;
  }
#cases-cards-container-mobile-landscape {
    --cards: 3;
  }
#card1-cases {
    --index: 1;
    margin-top: 66px;
  }
#card2-cases {
    --index: 2;
    margin-top: 66px;
  }
#card3-cases {
    --index: 3;
    margin-top: 66px;
  }
#card1-cases-mobile {
    --index: 1;
    margin-top: 66px;
  }
#card2-cases-mobile {
    --index: 2;
    margin-top: 66px;
  }
#card3-cases-mobile {
    --index: 3;
    margin-top: 66px;
  }
#card4-cases-mobile {
    --index: 4;
    margin-top: 66px;
  }
#card1-cases-mobile-landscape {
    --index: 1;
    margin-top: 40px;
  }
#card2-cases-mobile-landscape {
    --index: 2;
    margin-top: 40px;
  }
#card3-cases-mobile-landscape {
    --index: 3;
    margin-top: 40px;
  }