/* contact-form.css */
 
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    margin-bottom: 8px;
    color: #ffffff;
  }
  
  .form-group input,
  .form-group textarea {
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #444;
    color: #ffffff;
  }
  
  .form-group input:focus,
  .form-group textarea:focus {
    outline: none;
    border-color: #777;
  }
  
  textarea {
    resize: vertical;
    min-height: 50px;
  }
  
  .send-button {
    width: 200px; 
    padding: 15px;
    background-color: #ffcc00;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .send-button:hover {
    background-color: #ff7300;
  }

  #message {
    resize: vertical;
    min-height: 120px;
  }

  @media (max-width: 768px) {
    .send-button{
      width: 150px;
    }

    .contact-form {
      gap: 30px;
    }

    #message {
      resize: vertical;
      min-height: 80px;
    }
  }


@media screen and (max-width: 415px) and (orientation: portrait) {
  .form-group label {
    font-size: 1.3rem
  }

  #message {
    min-height: 200px;
  }
}

@media screen and (max-width: 376px) and (orientation: portrait) {
  .form-group label {
    font-size: 1rem
  }

  #message {
    min-height: 150px;
  }

  .contact-form {
    gap: 15px;
  } 
}

@media screen and (max-height: 415px) and (orientation: landscape) {
  .contact-form {
    gap: 5px;
  } 

  .form-group input,
  .form-group textarea {
    padding: 3px;
  }

  #message {
    min-height: 50px;
  }

  .send-button {
    width: 150px; 
    padding: 5px;
    margin-top: 5px;
  }

  .form-group label {
    font-size: 0.9rem
  }
}