* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  src: url('font/RobotoCondensed-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  background-color: #000000;
}

body::-webkit-scrollbar {
  display: none;
}

h2 {
  font-size: 6em;
}

a {
  text-decoration: none;
  color: #ffcc00;
}

.cases-title{
  font-size: 2.1rem;
  margin-top: 35px;
  margin-bottom: 20px;
  color: #ffffff;
}

.cases-text{
  font-size: 1.3rem;
  line-height: 1.4;
}

.services-title{
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.impressum-title {
  font-size: 1.6rem;
  margin-top: 30px;
  margin-bottom: 10px;
}

.contact-text{
  font-size: 1rem;
  line-height: 1.7;
}

.services-text {
  font-size: 1.3rem;
  line-height: 1.4;
  margin-bottom: 30px;
}

#center-services {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

#center-services-mobile {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.justify {
  text-align: justify;
}

.intro-div {
  margin-top: 100vh;
}

.media-container {
  background-color: #000000;
  display: flex;
  justify-content: center;
}

#card1 h1 {
  font-size: 4em;
  padding-bottom: 0;
  padding-top: 5vh;
}

#card1 p {
  font-size: 3em;
  line-height: 1;
  padding-right: 20vw;;
}

@media (max-width: 750px) {
  
  :root {
    --cardHeight: calc(100vh - 55px);
  }

  #cube-video {
    display: block;
  }

  #card1 h1 {
    font-size: 2em;
  }

  #card1 p {
    font-size: 1.7em;
  }

  .intro-image {
    width: 100%;
    bottom: 12vh;
  }

  .cases-title{
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .cases-text{
    font-size: 0.9rem;
    line-height: 1.1;
  }

  .services-title{
    font-size: 1.4rem;
    margin-bottom: 30px;
  }
  
  .services-text {
    font-size: 0.9rem;
    line-height: 1.4;
  }
}


@media screen and (max-width: 1025px) and (min-width: 822px) and (orientation: portrait) {
  .contact-text{
    font-size: 1.7rem;
    line-height: 1.5;
  }

  .services-title{
    font-size: 2.7rem;
    margin-bottom: 20px;
    margin-top: 0;
  }
}

@media screen and (max-width: 821px) and (min-width: 431px) and (orientation: portrait) {
  .contact-text{
    font-size: 1.6rem;
    line-height: 1.6;
  }

  .services-title{
    font-size: 2.5rem;
    margin-bottom: 20px;
    margin-top: 0;
  }
}

@media screen and (max-width: 431px) and (orientation: portrait) {
  .contact-text{
    font-size: 1.1rem;
    line-height: 1.4;
  }

  .services-title{
    font-size: 1.7rem;
    margin-bottom: 10px;
    margin-top: 0px;
  }
}

@media screen and (max-width: 376px) and (orientation: portrait) {
  .services-title{
    font-size: 1.6rem;
  }

  .impressum-title {
    font-size: 1.6rem;
  }
  
  .contact-text{
    font-size: 0.9rem;
    line-height: 1.4;
  }
}


@media screen and (max-height: 415px) and (orientation: landscape) {
  .contact-text{
    font-size: 0.7rem;
    line-height: 1.3;
  }

  .services-title{
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .impressum-title {
    font-size: 1rem;
    margin-top: 20px;
  }

  .cases-title{
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .cases-text{
    font-size: 0.7rem;
    line-height: 1.3;
  }

}

@media screen and (width: 540px) and (height: 720px) and (orientation: portrait) {
  .services-title{
    font-size: 1.7rem;
  }
  
  .contact-text{
    font-size: 1.1rem;
    line-height: 1.6;
  }
}

@media screen and (width: 1024px) and (height: 600px) and (orientation: landscape) {
  .services-title{
    font-size: 1.7rem;
    margin-top: 0;
  }
  
  .contact-text{
    font-size: 1.1rem;
    line-height: 1.2;
  }
}

@media screen and (min-width: 2560px) and (orientation: landscape) {
  .services-title{
    font-size: 3.8rem;
    margin-top: 0;
  }
  
  .contact-text{
    font-size: 2.4rem;
    line-height: 1.2;
  }
}