* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  src: url('font/RobotoCondensed-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  background-color: #000000;
}

body::-webkit-scrollbar {
  display: none;
}

h2 {
  font-size: 6em;
}

a {
  text-decoration: none;
  color: #ffcc00;
}

/*----------- All Titles -----------*/

.title {
  font-size: 1.7rem;
  margin-bottom: 10px;
}

.impressum {
  margin-top: 30px;
}

/*----------- All Texts -----------*/

.text {
  font-size: 1.1rem;
  line-height: 1.5;
}

.form-group label {
  font-size: 1.1rem;
}

.send-button {
  font-size: 1rem;
}

/*----------- Positioning-----------*/

#center-services {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

#center-services-mobile {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.justify {
  text-align: justify;
}

.intro-div {
  margin-top: 100vh;
}

.media-container {
  background-color: #000000;
  display: flex;
  justify-content: center;
}

#card1 h1 {
  font-size: 4em;
  padding-bottom: 0;
  padding-top: 5vh;
}

#card1 p {
  font-size: 3em;
  line-height: 1;
  padding-right: 20vw;;
}





@media screen and (min-width: 2560px) and (orientation: landscape) {
  
  .title{
    font-size: 3.8rem;
    margin-top: 0;
  }
  
  .text{
    font-size: 2.4rem;
    line-height: 1.2;
  }

  .form-group label {
    font-size: 2.4rem;
  }
  
  .send-button {
    font-size: 2.2rem;;
  }
}





@media (max-width: 750px) {
  
  :root {
    --cardHeight: calc(100vh - 55px);
  }

  #cube-video {
    display: block;
  }

  #card1 h1 {
    font-size: 2em;
  }

  #card1 p {
    font-size: 1.7em;
  }

  .intro-image {
    width: 100%;
    bottom: 12vh;
  }
}




@media screen and (max-width: 1025px) and (min-width: 822px) and (orientation: portrait) {
  
  .title{
    font-size: 2.7rem;
    margin-bottom: 20px;
    margin-top: 0;
  }

  .text{
    font-size: 1.7rem;
    line-height: 1.5;
  }

  .form-group label {
    font-size: 1.7rem;
  }
  
  .send-button {
    font-size: 1.7rem;
  }
}




@media screen and (max-width: 821px) and (min-width: 431px) and (orientation: portrait) {
  
  .title{
    font-size: 2.5rem;
    margin-bottom: 20px;
    margin-top: 0;
  }
  
  .text{
    font-size: 1.6rem;
    line-height: 1.6;
  }

  .form-group label {
    font-size: 1.6rem;
  }
  
  .send-button {
    font-size: 1.6rem;
  }
}









@media screen and (width: 1024px) and (height: 600px) and (orientation: landscape) {
  .title{
    font-size: 1.61rem;
    margin-top: 0;
  }
  
  .text{
    font-size: 1rem;
    line-height: 1.1;
  }

  .form-group label {
    font-size: 1rem;
  }
  
  .send-button {
    font-size: 1rem;
  }
}















@media screen and (max-width: 431px) and (orientation: portrait) {
  
  .title{
    font-size: 1.61em;
    margin-bottom: 10px;
    margin-top: 0px;
  }

  .impressum {
    margin-top: 20px;
  }

  .text{
    font-size: 1rem;
    line-height: 1.1;
  }

  .form-group label {
    font-size: 1rem;
  }
  
  .send-button {
    font-size: 1rem;
  }

  .form-group input,
  .form-group textarea {
    font-size: 1rem;
  }
}



@media screen and (max-height: 431px) and (orientation: landscape) {
  .title{
    font-size: 1.45rem;
    margin-bottom: 10px;
    margin-top: 0px;
  }

  .impressum {
    margin-top: 20px;
  }

  .text{
    font-size: 0.8rem;
    line-height: 1.2;
  }

  .form-group label {
    font-size: 0.8rem;
  }
  
  .send-button {
    font-size: 0.8rem;
  }

  .form-group input,
  .form-group textarea {
    font-size: 0.8rem;
  }
}



@media screen and (max-width: 376px) and (orientation: portrait) {
  .title{
    font-size: 1.2rem;
  }

  .impressum {
    margin-top: 20px;
  }

  .text{
    font-size: 0.8rem;
    line-height: 1.1;
  }

  .form-group label {
    font-size: 0.8rem;
  }
  
  .send-button {
    font-size: 0.8rem;
  }

  .form-group input,
  .form-group textarea {
    font-size: 0.8rem;
  }
}



@media screen and (max-height: 376px) and (orientation: landscape) {
  
  .title{
    font-size: 1.28rem;
    margin-bottom: 10px;
  }

  .impressum {
    margin-top: 20px;
  }

  .text{
    font-size: 0.8rem;
    line-height: 1.1;
  }

  .form-group label {
    font-size: 0.8rem;
  }
  
  .send-button {
    font-size: 0.8rem;
  }

  .form-group input,
  .form-group textarea {
    font-size: 0.8rem;
  }
}