* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  src: url('font/RobotoCondensed-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Handjet';
  src: url('font/Handjet-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  background-color: #000000;
}



body::-webkit-scrollbar {
  display: none;
}

h2 {
  font-size: 6em;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

#menu-index {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 800;
  transition: font-size 0.3s, color 0.3s, box-shadow 0.3s; 
  box-shadow: none;
}
#menu-index:hover {
  color: #ffffff;
  font-size: 1.8rem;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(242, 242, 242, 0.5);
  padding: 10px;
  border-radius: 10px;
  background-color: #000000;
}

/*----------- All Titles -----------*/

.title {
  font-size: 5rem;
  margin-bottom: 10px;
  font-family: 'Handjet', 'Arial Narrow Bold', sans-serif;
  font-weight: 400;
}

#title-small {
  font-size: 3.3rem;
}

.title-cases {
  font-size: 5rem;
  margin-bottom: 10px;
  font-family: 'Handjet', 'Arial Narrow Bold', sans-serif;
  font-weight: 400;
}

.impressum {
  margin-top: 30px;
}

/*----------- All Texts -----------*/

.text {
  font-size: 1.1rem;
  line-height: 1.5;
}




.send-button {
  width: 200px; 
  padding: 15px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  box-shadow: 
  0 0 8px rgba(255, 255, 0, 0.8),    /* amarillo */
  0 0 15px rgba(255, 165, 0, 0.7),   /* naranja */
  0 0 20px rgba(255, 0, 0, 0.6);     /* rojo */
  transition: box-shadow 0.3s ease;
  font-size: 1rem;
}


.send-button:hover {
  box-shadow: 
    0 0 12px rgba(255, 255, 0, 1),
    0 0 20px rgba(255, 165, 0, 0.9),
    0 0 25px rgba(255, 0, 0, 0.8);
}

/*----------- Positioning-----------*/

#center-services {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

#center-services-mobile {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.justify {
  text-align: justify;
}

.intro-div {
  margin-top: 100vh;
}

.media-container {
  background-color: #000000;
  display: flex;
  justify-content: center;
}

#card1 h1 {
  font-size: 7rem;
  user-select: none;
  font-weight: 400;
  text-align: center;
  font-family: 'Handjet', 'Arial Narrow Bold', sans-serif;
  text-shadow:
  -7px -7px 7px #000,  
   7px -7px 7px #000,
  -7px  7px 7px #000,
   7px  7px 7px #000;
}

#card1 p {
  font-size: 1.7em;
  line-height: 1;
  user-select: none;
  font-weight: 800;
  text-align: center;
  
}





@media screen and (min-width: 2560px) and (orientation: landscape) {
  
  .title{
    font-size: 3.8rem;
    margin-top: 0;
  }
  
  .text{
    font-size: 2.4rem;
    line-height: 1.2;
  }

  
  .send-button {
    font-size: 2.2rem;
  }
}




@media (max-width: 750px) {
  
  :root {
    --cardHeight: calc(100vh - 55px);
  }

  #cube-video {
    display: block;
  }

  #card1 h1 {
    font-size: 4rem;

  }

  #card1 p {
    font-size: 1.5em;
  }

  .intro-image {
    width: 100%;
    bottom: 12vh;
  }

  .send-button {
    margin-left: 20px;
  }

}




@media screen and (max-width: 1025px) and (min-width: 822px) and (orientation: portrait) {
  
  .title{
    font-size: 6rem;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0;
    margin-left: 30px;
    margin-right: 30px;
  }

  .text{
    font-size: 1.7rem;
    line-height: 1.5;
    margin-left: 100px;
    margin-right: 100px;
  }

  
  .send-button {
    font-size: 1.7rem;
    margin-left: 90px;
    padding: 20px;
    min-width: 350px;
  }



  #title-small {
    font-size: 5rem;
  }
}

@media screen and (max-width: 821px) and (min-width: 769px) and (orientation: portrait) {
  
  .title{
    font-size: 5rem;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
  }
  .title-cases {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .text{
    font-size: 1.6rem;
    line-height: 1.3;
    margin-left: 50px;
    margin-right: 50px;
  }
  #title-small {
    font-size: 4rem;
  }

  
  .send-button {
    font-size: 1.5rem;
    margin-left: 50px;
    padding: 20px;
    min-width: 300px;
  }
}

@media screen and (max-width: 768px) and (min-width: 432px) and (orientation: portrait) {
  
  .title{
    text-align: center;
    margin-top: 0;
  }

  .text{
    font-size: 1.4rem;
    line-height: 1.3;
    margin-left: 40px;
    margin-right: 40px;
  }
  
  #title-small {
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .send-button{
    font-size: 1.4rem;
    margin-left: 30px;
    min-width: 280px;
  }
}


@media screen and (max-width: 431px) and (orientation: portrait) {
  
  .title{
    font-size: 3rem;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
  }
  #title-small {
    font-size: 2rem;
  }
  .title-cases{
    font-size: 3rem;
    text-align: center;
  }

  .impressum {
    margin-top: 20px;
  }

  .text{
    font-size: 1rem;
    line-height: 1.1;
    margin-left: 20px;
    margin-right: 20px;
  }

  
  .send-button {
    font-size: 1rem;
    margin-left: 20px;
    padding: 10px;
    min-width: 200px;
    
  }

  .form-group input,
  .form-group textarea {
    font-size: 1rem;
  }
}






@media screen and (max-width: 376px) and (orientation: portrait) {


  .impressum {
    margin-top: 20px;
  }

  .text{
    font-size: 0.8rem;
    line-height: 1.1;
    margin-left: 20px;
    margin-right: 20px;
  }


  
  .send-button {
    font-size: 0.8rem;
    padding: 10px;
    min-width: 150px;
    
  }

  .form-group input,
  .form-group textarea {
    font-size: 0.8rem;
  }
}


@media screen and (width: 1024px) and (height: 600px) and (orientation: landscape) {
  .title{
    font-size: 1.61rem;
    margin-top: 0;
  }
  
  .text{
    font-size: 1rem;
    line-height: 1.1;
  }


  
  .send-button {
    font-size: 1rem;
    margin-left: 20px;
  }

  
}

@media screen and (max-height: 431px) and (orientation: landscape) {
  .title{
    font-size: 1.45rem;
    margin-bottom: 10px;
    margin-top: 0px;
  }

  .impressum {
    margin-top: 20px;
  }

  .text{
    font-size: 0.8rem;
    line-height: 1.2;
  }

  .form-group label {
    font-size: 0.8rem;
  }
  
  .send-button {
    font-size: 0.8rem;
  }

  .form-group input,
  .form-group textarea {
    font-size: 0.8rem;
  }

  #card1 h1 {
    font-size: 1.8em;
  }

  #card1 p {
    font-size: 1.5em;
  }
}


@media screen and (max-height: 376px) and (orientation: landscape) {
  
  .title{
    font-size: 1.127rem;
    margin-bottom: 10px;
  }

  .impressum {
    margin-top: 20px;
  }

  .text{
    font-size: 0.7rem;
    line-height: 1.1;
  }

  .form-group label {
    font-size: 0.7rem;
  }
  
  .send-button {
    font-size: 0.7rem;
  }

  .form-group input,
  .form-group textarea {
    font-size: 0.7rem;
  }

  #card1 h1 {
    font-size: 1.8em;
  }
  
  #card1 p {
    font-size: 1.2em;
  }
}