/*--------------------- Header -------------------------*/
.header {
  background-color: rgb(0, 0, 0);
  width: 100%;
  display: flex; 
  justify-content: left;
  align-items: center;
  height: 66px;
  z-index: 20; 
  left: 0; 
  position: fixed;
  top: 0;
  padding-left: 50px;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.header-logo {
  z-index: 1;
  margin-top: 12px;
  width: 250px;
}

/*----------------------- Hamburger-Menu --------------------------*/
.hamburger-menu {
  position: fixed;
  top: 12px;
  right: 50px;
  z-index: 1000;
  background-color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 5px;
}

.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40px;
  height: 30px;
}

.hamburger span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #ffffff;
  transition: all 0.3s ease;
  transform-origin: center;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 150%;
  right: 0;
  bottom: 0;
  background-color: #000000d8;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: left 0.5s ease-in-out; 
}

.menu-overlay.show {
  left: 0; 
}

.menu-overlay ul {
  list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .menu-overlay li {
    margin: 50px 0;
  }
  .menu-overlay a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 35px;
    font-weight: 800;
    transition: font-size 0.3s, color 0.3s, box-shadow 0.3s; 
    box-shadow: none;
  }
  .menu-overlay a:hover {
    color: #ffffff;
    font-size: 37px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(242, 242, 242, 0.5);
    padding: 10px;
    border-radius: 10px;
    background-color: #000000;
  }
  .hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(9px, 9px);
    background-color: white;
  }
  .hamburger.open span:nth-child(2) {
    opacity: 0;
  }
  .hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    background-color: white;
  }

  .menu-overlay.show {
    display: flex;
  }
  .title-video-mobile {
    display: none;}

@media (max-width: 750px) {
    .header{
        padding-left: 15px;
        height: 55px;
       
    }

    .header-logo {
        width: 200px;        
        height: auto; 
        margin-top: 10px;   
        margin-left: 1px;    
    }

    .hamburger {
        width: 25px;
    }
    
    .hamburger-menu {
        right: 10px;
        top: 8px;
        padding: 5px;
    }
    
    .menu-overlay a {
        font-size: 20px;
    }
    
    .menu-overlay a:hover {
        font-size: 27px;
    }
   }